mat-grid-tile {
  background: lightblue;
}

#Onechartdiv {
  width: 100%;
  height: 600px;
}

#Twochartdiv {
  width: 100%;
  height: 600px;
}

#Threechartdiv {
  width: 100%;
  height: 600px;
}

#Fourchartdiv {
  width: 100%;
  height: 600px;
}

#Fivechartdiv {
  width: 100%;
  height: 600px;
}
