<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          Project Github By <a target="_blank" href="https://github.com/DreamStar1996/Bilibili-Barrage-Planning">Bilibili Barrage Planning</a>
          Project Gitee By <a target="_blank" href="https://gitee.com/Weichen961108/Bilibili-Barrage-Planning">Bilibili Barrage Planning</a>
        <p class="copyright text-muted">
          Powered By <a target="_blank" href="https://dreamstar1996.github.io/Bilibili-Barrage-Planning/">Note Book</a>
        </p>
      </div>
    </div>
  </div>
</footer>
