<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
      <h1>Test Angular DataBase Charts</h1>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="TableBase Data" nzIcon="ordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="ngx-database">Ngx Database</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="zorro-database">Zorro Database</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="ng-database">Ng Database</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="TableBase Charts" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="ngx-charts">Ngx Charts</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="zorro-charts">Zorro Charts</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="ng-charts">Ng Charts</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Test Index" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="form-test">Form Test</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="api-test">Api Test</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
